/* $grey: #b3b3b3;
$white: #fff;
$red: #e50914;
$red-error: #ad181f;
$background-grey: #141414; */

.card.genre-view-card {
  border: hidden;
  border-radius: 2px;
  display: flex;
  min-width: 285px;
}

.h5.genre-view-card-title {
  font-size: 1.3rem;
}

.card-text.genre-view-card-text {
  font-size: 0.8rem;
}

button.genre-view-card-back-btn {
  margin: 0 20px 20px 20px;
  padding: 16px;
  color: #fff;
  background: #e50914;
  font-size: 0.9rem;
  border: none;
  border-radius: 2px;
}
