$grey: #b3b3b3;
$white: #fff;
$red: #e50914;
$red-error: #ad181f;
$black: #330;


input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.registration-view-container input:-webkit-autofill,
.registration-view-container input:-webkit-autofill:hover, 
.registration-view-container input:-webkit-autofill:focus {
    border: 1px solid $grey;
    -webkit-text-fill-color: $black;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
}


.registration-view-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 820px;

  &:last-child {
        align-items: center;
        justify-content: center;
  }
}

.registration {
    width:100vw;
    justify-content: center;

}

.card.registration-card {
    min-width: 320px;
    max-width: 740px;
    border: none;
}

.registration-card-title.h5 {
    font-size: 2.2rem;
    font-weight: 600;
}

.registration-input-group {
    position: relative;
    z-index: 10;
}

.row.registration-input-group.horizontal-group {
    display: flex;
    justify-content: space-between;
}

label.registration-input-label {
    position: absolute;
    z-index: 150;
    color: $black;
    font-size: 1rem;
    top: 20px;
    left: 18px;
    transition: all 300ms ease-in;
}

input.registration-input {
    width: 100%;
    position: relative;
    z-index: 100;
    border-radius: 2px;
    border: 1px solid $grey;
    opacity: 1;
    font-size: 1rem;
    line-height: 50px;
    padding: 12px 18px 0;
}
.col.horizontal-input {
    padding-left: 0;
    padding-right: 0;

    &.left {
        margin-right: 4px;
    }
    &.right {
        margin-left: 4px;
    }
}

input.registration-input:focus + label.registration-input-label {
    top: 5px;
    font-size: 0.7rem;
}

input.registration-input:valid + label.registration-input-label {
    top: 5px;
    font-size: 0.7rem;
}


.input-error {
    color: $red-error;
    font-size: 0.8rem;
    margin-left: 3px;
}

.registration-signup {
    margin: 24px 0 12px;
    width: 100%;
    padding: 16px;
    color: $white;
    background: $red;
    font-size: 0.9rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}